.aboutme{
    height:667px;
}
.accordion{
    width: 100%;
}
.accordion-item{
    color: rgb(161, 161, 161);
    background-color: black;
    border:none;
    padding: 0;
    margin:0;
}
.accordion-header::after {
    background-color: #000000;
}
.accordion-collapse{
    background-color: #000000;
}

.accordion-button{
    color: rgb(230, 230, 230);
    background-color: black;
    border:none;
    padding: 10px;
    margin:0;
    --bs-accordion-active-bg: #000000;
}
.accordion-button::after{
    color: rgb(230, 230, 230);
    background-color: black;
    border:none;
}
.accordion-button:not(.collapsed) {
    color: #ffffff;
}
.accordion-button.collapsed {
    background-color: #000000; /* Change this to your desired color */
    color: #ffffff; /* Change this to the desired text color */
  }


@media (max-width: 768px) {
    .aboutme{
        height: 100%;
    }
    .abouthim{
        text-align: center;
    }
    .prpic{
        width:50%;
      }
  }