.navbare{
    background-color: transparent;
    color: aliceblue;
}
.middleitems{
    margin-left: 15%;
}
.brandlogo{
    color:rgb(247, 247, 253);
    font-size: x-large;
    font-weight:bolder;
}
.brandlogo:hover{
    color: rgb(158, 158, 209);
}

  /* Hover styles for larger screens */
  .navlink{
    color: rgb(240, 240, 255) !important;
 
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid transparent; /* Initially set to transparent */
    transition: border-bottom 0.3s ease-in-out; 
    font-size: large;
    font-weight: bold;
    font-family:'Chakra Petch', sans-serif;
  }

 .navlink:hover {
  border-bottom: 2px solid rgb(241, 241, 243); /* Change the color on hover */
  color: rgb(158, 158, 209) !important;
  background-color: rgba(207, 207, 255, 0.062);
}
#basic-nav-dropdown{
    color: aliceblue;
}
  
@media (max-width: 768px) {
    .middleitems {
     margin-left: 0%;
    }
    .vertical-divider {
        display: none !important;
      }
  }

