.navbare{
    position: fixed;
    width: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(2,2,7,0.7203256302521008) 61%, rgba(0,0,0,0.6138830532212884) 70%, rgba(0,0,0,0.28335084033613445) 85%, rgba(0,0,0,0) 99%);
    background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(2,2,7,0.7203256302521008) 61%, rgba(0,0,0,0.6138830532212884) 70%, rgba(0,0,0,0.28335084033613445) 85%, rgba(0,0,0,0) 99%);
    background: linear-gradient(180deg, rgba(0,0,0,1) 11%, rgba(2,2,7,0.7203256302521008) 61%, rgba(0,0,0,0.6138830532212884) 70%, rgba(0,0,0,0.28335084033613445) 85%, rgba(0,0,0,0) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    color: aliceblue;
    z-index: 3;
}
.middleitems{
    margin-left: 15%;
}
.brandlogo{
    color:rgb(247, 247, 253);
    font-size: x-large;
    font-weight:bolder;
}
.brandlogo:hover{
    color: #9e9ed1;
}

  /* Hover styles for larger screens */
  .navlink{
    color: rgb(240, 240, 255) !important;
 
    text-decoration: none;
    position: relative;
    border-bottom: 2px solid transparent; /* Initially set to transparent */
    transition: border-bottom 0.3s ease-in-out; 
    font-size: large;
    font-weight: bold;
    font-family:'Chakra Petch', sans-serif;
  }

 .navlink:hover {
  border-bottom: 2px solid rgb(241, 241, 243); /* Change the color on hover */
  color: rgb(158, 158, 209) !important;
  background-color: rgba(207, 207, 255, 0.062);
}
#basic-nav-dropdown{
    color: aliceblue;
}
  
@media (max-width: 768px) {
    .middleitems {
     margin-left: 0%;
    }
    .vertical-divider {
        display: none !important;
      }
  }

