body {
    margin: 0;
    padding: 0;
   
  }

  .welcomemsg {

    height: 665px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .prpic{
      width:50%;
    }
  }

  .welcomemsg h1 {
    font-size: 3em;
  }
  
/* assets/welcome.css */


@font-face {
  font-family: 'spaceFont';
  src: url('../assets/nasalization-rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.futurefont {
  font-family: 'spaceFont', sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.8); /* Adjust the values as needed */
}

.neontext {
    color: rgb(17, 21, 59); /* Set the text color */
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-weight: bolder;
    animation: neonGlow 1.5s ease-in-out infinite alternate;

  }
  
  @keyframes neonGlow {
    from {
      text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    }
    to {
      text-shadow: 0 0 5px rgb(255, 255, 255), 0 0 10px rgba(255, 255, 255, 0.9), 0 0 15px rgba(255, 255, 255, 0.9);
    }
  }
  
  