.containero{
    height:670px;
}

.icone{
    font-size:50px;
    
}
.icone:hover{
    font-size:60px;
    color: rgb(118, 145, 255);
    transition:  0.2s ease-in-out;
}
@media (max-width: 768px) {
    .containero{
        height: 100%;
    }
  }

  .transparent-input {
    background-color: transparent;
    border: 1px solid rgb(188, 206, 255); /* Add border to make the input fields visible */
    color: white; /* Set text color to white */
  }
  